doctype html
html
  head
    title= NutriApp
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/javascripts/application.js')
  body
    nav
      h2 FirstName
      ul
        li 
          a(href='/search') Search and Log
        li nutrition 
        li analysis
        li progress
        li suggested recipies  
        li donate food??? 
    block viewSearch
