include _functions

doctype html
html(lang='en')
  head
    title NutriApp
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/javascripts/application.js')
  body
    nav
      h2 FirstName
      ul
        li 
          a(href='/search') Search
        li 
          a(href='/nutrient') Nutrient Lookup 
        li 
          a(href='/log') Log Meal
        li
          a(href='/analysis') Analysis

    main
      block mainDisplay
