extends layout

block mainDisplay
  form(method='get' action='/search/results')
    fieldset(id='search')
      label(for='query') Search
      input(type='text' name='query' id='query')
      label(for='db')
      select(name='db' id='db')
        option(value='SR') by Food Group
        option(value='LI') by Store Brand
  block content

      