extends searchLayout

block viewResults
  if error
    h2 No results for 
      i "#{searchTerm}".
  else
    h2#resultsHeader Results for 
      i "#{searchTerm}".
    ul#results
      each category in categories
        li 
          h4 
            a(href='/category/' + category.id target='_self') #{category.name} (#{category.count})

