body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  position: absolute;
  display: block;
  width: 200px;
  background:  #c9d7e8;
  height: 100vh;
  border-radius: 5px;
}

#tabs {
  display: block;
  margin-left: 210px;
}

#tabs ul {
  background: #fff;
  padding: 0;
  text-align: left;
  margin: 0;
}

#tabs li {
  display: inline-block;
  background: #edf2f7;
  width: 150px;
  margin: 0;
  text-align: center;
  border-right: 5px solid #fff;
}

main {
  display: block;
  margin-left: 210px;
  background: #edf2f7;
  height: 100vh;
  border-radius: 5px;
}

.resultsHeader {
  text-align: center;
}

nav h2 {
  text-align: center;
  margin: 40px 0;
}

nav li {
  margin-bottom: 20px;
  list-style: none;
}

#search {
  padding: 20px;
  padding-top: 40px;
  border: none;
  text-align: center;
}

main li {
  margin-bottom: 20px;
  list-style: none;
}

/* .active {
  background-color: #63659c;
  color: #fff;
} */

#search input {
  margin-left: 15px;
  border-radius: 10px;
  border-style: none;
  border: 1px solid darkgrey;
  width: 250px;
  height: 20px;
  padding-left: 10px;
}

#search input:focus {
  outline: none;
  border-color: #cc2900;
  box-shadow: 2px 5px #888888;
}

#search select {
  margin-left: 10px;
  height: 20px;
  background-color: lightskyblue;
  color: #fff;
}

#results li {
  display: block;
}

form h2 {
  margin: 15px 0;
  text-align: center;
}

a {
  color: #2d486c;
  text-decoration: none;
}

#listOfGroup li {
  font-size: 11px;
}

#search button  {
  height: 20px;
  width: 100px;
  margin-left: 20px;
  border-radius: 5px;
}


/* Display Nutritional Information */
#displayFood {
  position: relative;
  font-size: 11px;
  margin: 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  text-align: center;
}

#displayFood div {
  display: inline-block;
  margin-right: 20px;
  width: 280px;
  vertical-align: top;
}

#displayFood div:last-of-type {
  margin-right: 0;
}

#displayFood section {
  display: block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 15px 20px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#displayFood header h3, #displayFood button {
  display: inline-block;
}

#displayFood header h3 {
  display: block;
}

#displayFood header {
  text-align: center;
  color: #2d486c;
  margin: 20px 0;
}

#displayFood tr {
  display: block;
  position: relative;
  color: #2d486c;
  border-bottom: 1px solid grey;
  text-align: left;
}

#displayFood td, #displayFood th {
  width: 50px;
  text-align: right;
}

#displayFood .name {
  width: 120px;
  text-align: left;
  box-sizing: border-box;
}

#displayFood .value {
  width: 80px;
}


#displayFood .indent {
  padding-left: 10px;
}

#displayFood select {
  width: 280px;
}

#displayFood li {
  display: inline-block;
  margin-right: 5px;
}

/* Nutrient Lookup */
#nutrientTable table {
  padding: 35px 60px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

}

#nutrientTable .nutrientName {
  padding-left: 20px;
}

#nutrientTable .nutrientValue, #nutrientTable .nutrientDV {
  text-align: center;
}

#nutrientTable th {
  text-align: center;
  background: lightgrey;
  height: 45px;
}


#nutrientTable tr:nth-child(odd) {
  background-color: #fff;
}

#nutrientTable h3 {
  text-align: center;
  padding-top: 20px;
}

/* Displaying the Log */


#displayLog h3 {
  text-align: center;
}

#displayLog section {
  display: block;
}

#displayLog th {
  text-align: center;
  background: lightgrey;
}

#displayLog td {
  padding: 0 10px 10px 10px;
  text-align: center;
}

#displayLog .nameServing {
  width: 400px;
  text-align: left;
}

#displayLog .logName {
  font-weight: bold;
}

#logList dd {
  margin: 0;
}

#logList .totals {
  background: lightgrey;
}

/* Breakdown */

#breakdown {
  position: absolute;
  left: 0;
}

#breakdown tr:nth-of-type(even) {
  background-color: lightcyan;
}

#breakdown th {
  background: lightgrey;
  text-align: center;
}